@import "../less/vars.import.less";

#shopfront {
	@greenMeterHeight: 70px;
	@greenMeterFontSize: 14px;
	@greenMeterLineHeight: 18px;

	@butlerBarHeight: 150px;

	@itemSize: 32%;
	@itemPadding: 5px;
	@itemMargin: 2%;

	#greenMeter {
		height: @greenMeterHeight;
		font-size: @greenMeterFontSize;
		line-height: @greenMeterLineHeight;
		padding-left: @contentPadding; 
		padding-right: @contentPadding; 
	}

	#butlerBar {
		position: relative;
		text-align: center;
		background: url('/destination.jpg');
		background-size: cover;
		height: @butlerBarHeight;

		.shade {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.7);
		}

		.user-greeting {
			@highlightColor: #fafafa;

			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			h1 {
				font-family: 'Arial Narrow';
				color: #fafafa;
				font-size: 24px;
				font-weight: 700;
				margin: 25px 0 10px;
			}

			h2 {
				font-size: 14px;
				color: #aaa;


				span {
					color: #eee;
				}
			}

			h3 {
				color: #ddd;
				font-size: 15px;
			}

			.qantas-blip {
				background: @red;
				width: 35px;
				height: 2px;
				margin: 15px auto;
			}
		}
	}

	.items {
		padding-left: @contentPadding;
		padding-right: @contentPadding;
		padding-bottom: 20px;
	}

	.item {
		width: @itemSize;
		background: @white;
		padding: @itemPadding;
		float: left;

		&:nth-child(3n + 2) {
			margin-left: @itemMargin;
			margin-right: @itemMargin;
		}

		img {
			width: 100%;
			height: auto;
		}

		.name {
			white-space: nowrap;
			overflow: hidden;
			margin-bottom: 3px;
		}

		.prices {
			> div {
				float: left;
				width: 50%;
			}

			button {
				position: relative;
				border: 1px solid @red;
				background: none;
				border-radius: 3px;
				width: 100%;
				text-align: left;
				color: @red;
				font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
				font-weight: 300;
				font-size: 14px;
				padding: 5px 6px;

				svg {
					width: 5px;
					position: absolute;
					right: 6px;
					top: 8px;
				}
			}
		}
	}

	#buy-result-alert {
		@buyResultHeight: 70px;

		position: absolute;
		top: (-@buyResultHeight);
		left: 0;
		background: rgba(0,0,0,.7);
		transition: all .5s;
		width: 100%;
		height: @buyResultHeight;
		color: @white;

		&.show {
			top: 0;
		}
	}
}